body {
	background-image: url('C:/Users/HP/Desktop/html/Images/back.png');
	background-size: 100%;
	margin:0;
	padding:0;
	border:solid 2px #E6E6FA;
}

header{ 	
	
	height: 10%;
	width: 100%;
	background-color: #E6E6FA;
	border-bottom: solid 2px #AFA7AF;
}

nav
{
    width:25%;
	height: 100%;
    float:left;   
	border-right:solid 2px #E6E6FA;	
}

article { 
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto; 
	border:solid 2px #E6E6FA;
}

aside
{
    float:right;
    width:25%; 
	height: 100%;
	border-left:solid 2px #E6E6FA;
	text-align: center;
}

footer
{
    clear:both;    
    background-color:#E6E6FA;
	border:solid 2px #E6E6FA;
    text-align:center;
	height: 10%;
	width: 100%;
	float: bottom;
	border-top: solid 2px #AFA7AF;
}

input {
	background-color: #FEE7E7;
	-moz-border-radius:  10px; /* Firefox */
	-webkit-border-radius:  10px; /* Safari 4 */
	border-radius:  10px; /* IE 9, Safari 5, Chrome */
    padding: 10px;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border:outset 2px #FEE7E7;
}

.header-right a, .header-left a, .bar a, .nav-btn a{
	text-decoration: none;
	color: #000000;
}

.header-right a, .header-left a, .nav-btn a{
	z-index:10000 !important;
}

h3 {
	font-style: italic;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}

button {
	border-radius:  10px;
	width: 100%;
    height: 40px;
	background-color: #FC9C9C;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-btn {
	background-color: #fefefe;
}
.icon-btn:hover {
	background: #fefefe;
}

.nav-btn {
	width: 100%;
}

thead th{
	background-color: #FEE7E7;
}

.bar {
	float: right;
	padding: 10px;
	margin: 5px;
}
div, p, .name {
	display: inline-block;
}

.reg {
	width: 100%;
}

fieldset {
	background-color: #E6E6FA;
	overflow: auto;
}

button:hover {
background: #C8A2C8;
}

.nameOfTable {
	padding: 10px;
	text-align: left;
	font-weight: bolder;
	font-size: 30px;
}

td, th {
	background: #FFFFFF; 
    padding: 5px; 
}

legend {
	font-style: italic;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}

a {
	color: #000000;
}

.breadcrumb ul {
	background: linear-gradient(to right, #E6E6FA, #FFD1DC);
	border-radius: 0 35px 35px 0;
	list-style: none;
	margin: 30px;
	overflow: hidden;
	width: 416px;
}

.breadcrumb li {
	display: inline-block;
	border-radius: 0 35px 35px 0;
	border-right: 2px solid #fff;
	box-shadow: 2px 0 0px 0px #949D71;
	padding: 6px 16px;
	height: 80%;
}

.breadcrumb {
	float: left;
	margin: 0 auto;
	height: 100%;
}



